/* Ajustes Generales */

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Estilos adaptables */
header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: rgb(11, 77, 134);
}

h1{
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.onCuadro{
  font-size: 14px;
  font-weight: 100;
  padding: 2px;
  color: white;
  background-color: rgb(16, 51, 117);
  border: solid 1px rgb(211, 84, 45);
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
}

aside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(2, 22, 29, 0.945);
  animation: aparecer 500ms 1 ease-in-out;
  color: white;
}

/* Método First Mobile */
@media(max-width:800px){

#botonMenu{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    z-index: 3;
}

/* menu lateral Mobile*/

.oculto{
    display: none;
}

.visible{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 80vw;
    height: 100vh;
    max-width: 300px;
}
}

/* siguiente pantalla  */

@media(min-width:800px){

main{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#barraLateral{
  height: calc(100vh - 70px);
  width: 30%;
  max-width: 400px;
}

section{
  width: 70%;
  background-color: rgb(106, 168, 48);
}

#botonMenu{
  display: none;
}
}

/* elementos externos  */

.hamburger {
    height: 50px;
    width: 50px;
    transform: 0.2s;
    position: relative;
  }
  .hamburger .checkbox {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  .line {
    transition: 0.5s;
    stroke-width: 6px;
    stroke: rgb(255, 255, 255);
  }
  .lineTop {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 25;
  }
  .lineBottom {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 60;
  }
  .lineMid {
    stroke-dasharray: 40 40;
  }
  .hamburger .checkbox:checked + svg .line {
    stroke: crimson;
  }
  .hamburger .checkbox:checked + svg .lineTop {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(45deg) translate(-7px, -5px);
  }
  .hamburger .checkbox:checked + svg .lineMid {
    stroke-dashoffset: 40;
  }
  .hamburger .checkbox:checked + svg .lineBottom {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(-45deg) translate(-5px, 5px);
  }
  

/* animaciones  */

@keyframes aparecer {
    0%{
        transform:translateX(-500px);
    }
    20%{
        transform:translateX(-400px);
    }
    40%{
        transform:translateX(-300px);
    }
    60%{
        transform:translateX(-200px);
    }
    80%{
        transform:translateX(-100px);
    }
    100%{
        transform:translateX(0px);
    }

}
