/* Ajustes Generales */

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

:root{
  --texto: #000000;
  --fondo: #ffffff;
  --tarjeta: #cef0fd;
  --acento: #2548a8;
  --barraLateral: #111622;
  --boton:#243e68;
  --botonSeleccionado:#122d77;
  --botonUbicacion:#1642bd;
}

/* Estilos adaptables */
header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: var(--acento);
}

h1{
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.onCuadro{
  font-size: 14px;
  font-weight: 100;
  padding: 2px;
  color: white;
  background-color: rgb(16, 51, 117);
  border: solid 1px rgb(211, 84, 45);
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
}

aside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: var(--barraLateral);
  animation: aparecer 500ms 1 linear;
  color: white;
  gap: 10px;
}

.carpeta{
  background-color: var(--boton);
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  padding: 10px 5px;
  border-radius: 10px;
  gap: 10px;
  font-weight: 500;
}

.carpeta:hover{
  background-color: var(--botonSeleccionado);
  cursor: pointer;
}

.carpeta img{
  margin-left: 5px;
  width: 40px;
  aspect-ratio: 1/1;
}

/* tarjetas */

.tarjetas{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tarjeta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: var(--tarjeta);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

.tarjeta_img{
  width: 280px;
  aspect-ratio: 1/1;
}

/* Método First Mobile */
@media(max-width:900px){

#botonMenu{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    z-index: 3;
}

/* menu lateral Mobile*/

.oculto{
    display: none;
}

.visible{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 80vw;
    height: 100vh;
    max-width: 300px;
}
}

/* siguiente pantalla  */

@media(min-width:900px){

main{
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: var(--fondo);
}

#barraLateral{
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 30%;
  max-width: 400px;
}

#botonMenu{
  display: none;
}
}







/* elementos externos  */

.hamburger {
    height: 50px;
    width: 50px;
    transform: 0.2s;
    position: relative;
  }
  .hamburger .checkbox {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  .line {
    transition: 0.5s;
    stroke-width: 6px;
    stroke: rgb(255, 255, 255);
  }
  .lineTop {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 25;
  }
  .lineBottom {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 60;
  }
  .lineMid {
    stroke-dasharray: 40 40;
  }
  .hamburger .checkbox:checked + svg .line {
    stroke: crimson;
  }
  .hamburger .checkbox:checked + svg .lineTop {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(45deg) translate(-7px, -5px);
  }
  .hamburger .checkbox:checked + svg .lineMid {
    stroke-dashoffset: 40;
  }
  .hamburger .checkbox:checked + svg .lineBottom {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(-45deg) translate(-5px, 5px);
  }
  

/* animaciones  */

@keyframes aparecer {
    0%{
        transform:translateX(-500px);
    }
    20%{
        transform:translateX(-400px);
    }
    40%{
        transform:translateX(-300px);
    }
    60%{
        transform:translateX(-200px);
    }
    80%{
        transform:translateX(-100px);
    }
    100%{
        transform:translateX(0px);
    }

}
